<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
    
        <div class="container">
            <% if(error && error.length > 0){ %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
            <% } %>
            <% if(success && success.length > 0){ %>
                <div class="alert alert-success" role="alert">
                    <%= success %>
                </div>
            <% } %>
        </div>
        
        <div id="landing-header">
     		<h1>Welcome to YelpCamp!</h1>
    		<a href="/campgrounds" class="btn btn-lg btn-info">View All Campgrounds</a>
            <div>
                <form action="/campgrounds" method="GET" class="form-inline justify-content-center">
                        <div class="form-row align-items-center">
                            <div class="col-auto my-1 ">
                                <select name="category" class="custom-select">
                                    <option value="">Choose by category...</option>
                                    <option value="Off-Grid">Off-Grid</option>
                                    <option value="Easy-access">Easy-Access</option>
                                    <option value="With-view">With a view</option>
                                    <option value="Family-Friendly">Family-Friendly</option>
                                </select>
                            </div>
                            <div class="col-auto my-1">
                                <input type="text" name="search" placeholder="campground search..." class="form-control">
                            </div>
                            <div class="col-auto my-1">
                                <input type="submit" value="Search" class="btn btn-secondary ml-2 ">
                            </div>
                        
                    </div>
                </form>
            </div>
        </div>
        
        <ul class="slideshow">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>

        <% include partials/footer %>