<% include ../partials/header %>
<% if(currentUser && currentUser.isAdmin){%>

<%}%>
<header class="jumbotron jumbotron-fluid background_jumb">
    <div class="container">
        <div class="container">
            <h1>Welcome to YelpCamp</h1>
            <p>View our hand-picked campgrounds from all over the world</p>
            <p>
                <a class="btn-primary btn-lg" role="button" href="/campgrounds/new">Add new Campground!!</a>
            </p>
        </div>
    </div>
</header>
<div class="container">
    


<div class="row">
    <div class="col-lg-12">
        <%if (!noMatch){%>
            <h3 class="mb-3">Our most popular campgrounds</h3>
        <%}%>
    </div>
</div>
<div class="row text-center" style="display:flex,flex-wrap:wrap">
    <div class="col-md-12">
        <% if(noMatch!==undefined){%>
        <h3 class="mt-2 mb-3"><%=noMatch%></h3>
        <div>
                <form action="/campgrounds" method="GET" class="form-inline justify-content-center ">
                        <div class="form-group col-auto">
                            <input type="text" name="search" placeholder="campground search..." class="form-control">
                            <input type="submit" value="Search" class="btn btn-default">
            
                        
                    </div>
                </form>
        </div>
        <%}%>
    </div>
    <% campgrounds.forEach(function(campground){%>
    
        <div class="col-md-3 col-sm-6">
            <div class="card-column">
                <div class="card">
                    <img class="card-img mb-2" src="<%= campground.image %>">
                    
                        <div class="caption card-subtitle">
                            <h4 class="order-1"><%= campground.name%></h4>
                        </div>
                    
                        <a href="/campgrounds/<%=campground._id%>" class="btn btn-secondary text-warning border-warning">More Info</a>
                    
            </div>
        </div>
        
    </div>
<% }); %>

    
</div>


</div>


<% include ../partials/footer %>
